@import "tailwindcss";

body {
  /* Using standard CSS variables provided by Tailwind v4 */
  background-color: white;
  color: #0f172a; /* This is slate-900 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Arial, Helvetica, sans-serif;
}
